h1 { color: blue;   font-size: 250%; font-weight: bold }

body {
	background: red;
	color: white;
	font-size: 20pt;
	body { font-family: 'Oswald', sans-sarif; }
	}
	
	nav li {
		border: 2px solid black;
		display: inline-block;
		padding: 20px;
		margin: 10px;
		background: green;
		}
		
	a { color: black;
		text-decoration: none;}
	a:hover { color: orange;}